@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

body {
  margin: 0;
  padding: 1em;
  font-family: 'Girassol', cursive;

  background-image: url('https://i.pinimg.com/originals/a7/25/59/a72559a7f9e698215ff9986a4d3989dd.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  font-family: 'Inria Serif', serif;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

div.nav-wrapper {
    display: flex;

}

img.header-logo {
 height: 4em;

}

nav ul{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav li {
  list-style: none;

  margin: 1vw 2vw;
  font-size: 3vh;
}

nav {
  width: 100vw;
  /* background-color: #D6EFFF; */
}

a {
     text-decoration: none;
     color: inherit;

      margin: 0vw 5vw;
}

nav a:hover{
  background-color: #C6E9FF;
  color: white;
}

a#hp-button {
  margin: 0;
  position: absolute;
  padding: 0.5em; /* Arrow size */
  box-shadow: 1px -1px 0 1px black inset;
  -webkit-box-shadow: 2px -2px black inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
  transform: rotate(220deg)

}

a#hp-button:hover {
  box-shadow: 2px -2px 0 2px white inset;
  padding: 1em;
}

/* homepage css */
#content-wrapper {
  height: 20em;
  width: 20em;
  /* border: 1px solid red; */
  margin: 8em 20em;
}

#homepage-greeting {
  margin: 0 auto;
}

#homepage-text{
  margin: 0.5em auto;
}
