
<div id="homepage-wrapper">
  <h2 id="homepage-greeting">
    Welcome Explorer
  </h2>
  <p>
    Your journey begins here
  </p>
  <a href="/mountains"><button type="button" name="index-page-button"></button></a>
</div>
