
<div id="content-wrapper">
<h2>
  Choose Your Mountain
</h2>


<ul>

  <% @mountains.each do | mountain | %>
        <a href="/mountains/<%= mountain['id']%>">
          <li> <%= mountain['mountain'] %> </li>
        </a>
  <% end %>

</ul>

</div>
