<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mountains</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Mountains of the World</h1>
    <nav>
      <ul>
        <a href="/">
          <li>
            Home Page
          </li>
        </a>
        <a href="/mountains">
        <li>
          Index Page
        </li>
        </a>
        <a href="/mountains/new">
          <li>
            Add New Mountain
          </li>
        </a>
      </ul>
    </nav>

    <hr>

      <%= yield %>

    <hr>
    <footer>
      &copy; Mount Mallroy 2019
    </footer>

  </body>
</html>
