<h2>Add New Mountain</h2>

<form action="/mountains" method="post">

  <label>
    Mountain:
    <input type="text" name="mountain">
  </label>
  <br>

  <label>
    Country:
    <input type="text" name="country">
  </label>
  <br>

  <label>
    Range:
    <input type="text" name="range">
  </label>
  <br>

  <label>
    Height:
    <input type="text" name="height">
  </label>
  <br>

  <label>
    First Ascent:
    <input type="text" name="first_ascent">
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>


  <input type="submit" name="" value="Add Mountain!">


</form>
